<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="es">
<head th:replace="~{plantillas/plantilla :: head}"></head>
<body>
<div th:replace="~{plantillas/plantilla :: body}"></div>
<!-- Contenido adicional -->
<main class="container text-center shadow-lg p-3 mb-5 bg-body-tertiary rounded">
  <h1 th:text="${page}"></h1>
</main>
<div class="wrapper">
  <div class="text-center mt-4 name">
    Kira Massage
  </div>
  <form th:action="@{crear-usuario}" th:object="${usuario}" method="post" class="p-3 mt-3">
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Verifique los siguientes inconvenientes</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div th:if="${#fields.hasErrors('*')}" class='alert alert-danger' role="alert">
              <ul>
                <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
              </ul>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    <div class="form-field d-flex align-items-center">
      <i class="bi bi-person-fill-add"></i>
      <input type="text" class="form-control is-valid" id="nombre"
             name="nombre"
             placeholder="Nombre"
             required>
    </div>
    <div class="form-field d-flex align-items-center">
      <i class="bi bi-lock"></i>
      <input type="text" class="form-control is-valid" id="apellido"
             name="apellido"
             placeholder="Apellido"
             required>
    </div>
    <div class="form-field d-flex align-items-center">
      <i class="bi bi-lock"></i>
      <input type="email" th:class="${#fields.hasErrors('correo')}? 'form-control is-invalid':form-control"
             id="correo"
             name="correo"
             th:field="*{correo}"
             placeholder="Correo Electronico"
             required>
    </div>
    <div class="form-field d-flex align-items-center">
      <i class="bi bi-lock"></i>
      <input type="password" class="form-control is-valid" id="contrasena"
             name="contrasena"
             placeholder="Contraseña"
             required>
    </div>
    <div class="form-field d-flex align-items-center">
      <i class="bi bi-lock"></i>
      <input type="tel" class="form-control is-valid req" id="telefono"
             name="telefono"
             minlength="8"
             maxlength="10"
             placeholder="Numero de telefono"
             required>
    </div>
    <button class="btn mt-3">Login</button>
  </form>
</div>
<script th:inline="javascript">
  let hasErrors = /*[[${hasErrors}]]*/ false;
  if (hasErrors) {
    let errorModal = new bootstrap.Modal(document.getElementById('exampleModal'));
    errorModal.show();
  }
</script>
</body>
</html>

